*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #ccc;
    height: 100vh;
    min-width: 100%;
}

.contentOverlay {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    padding: 20px;
}

.contentOverlay h1 {
    width: 100%;
    
    margin-bottom: 20px;
}

.contentOverlay div {
    width: 100%;
    border: 1px solid black;
    display: flex;
}

.contentOverlay .installment_details label {
    background-color: orange;
    color: blue;
    min-width: 200px;
    white-space: nowrap;
}